
body {
  font-family: 'Lato', sans-serif;
}

/* ---------------------------------------------------
    Navbar
----------------------------------------------------- */

.first-navbar {
  background-color: #61BC31;
}

/* ---------- logo ---------- */

.logo-navbar {
  height: 58px;
  padding: 10px 0;
}

/* ---------- search ---------- */

.display-flex {
  display: flex;
  align-items: center;
}

.form-search,
.input-search {
  width: 100%;
}

.input-search {
  border: none;
  border-radius: 25px;
  padding: 0 15px;
  color: #B9B9B9;
}

.form-search {
  display: flex;
  justify-content: flex-end;
}

.icon-search {
  margin: 5px;
  color: #fff;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

/* ---------- menu user ---------- */

.navbar-dark .navbar-toggler {
  border-color: rgba(0,0,0,0);
}

.navbar-toggler {
  padding: 0;
}

.navbar,
.navbar-collapse {
  display: flex;
  justify-content: flex-end;
}

.button-dropdown {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
}

.button-account,
.button-sections {
  display: flex;
  flex-direction: column;
}

p.my-account,
p.user-account,
p.category-lists,
p.products-lists {
  margin: 0;
  text-align: left;
}

p.my-account {
  color: #fff;
}

p.user-account {
  color: rgba(255, 255, 255, 0.6);
}

.icon-arrow-down.white{
  padding-left: 10px;
  color: #fff;
}

.dropdown-item:hover {
  color: #61BC31;
}

.dropdown-item:active {
  background-color: #61BC31;
  color: #fff;
}

/* ---------------------------------------------------
    Nav sections
----------------------------------------------------- */

.icon-star {
  padding-right: 10px;
}

.icon-arrow-down {
  padding-left: 10px;
}

.icon-star.green,
.icon-arrow-down.green {
  color: #61BC31;
}

p.category-lists {
  color: #000;
}

p.products-lists {
  color: #909090;
}

/* ---------------------------------------------------
    Product catalog
----------------------------------------------------- */

section.product-catalog {
  border-top: 1px solid #E6E6E6;
  background-color: #F2F2F2;
}

@media (max-width: 576px) {
  .input-search {
    display: none;
  }
}
