/* Css para quital lineas de bootstrap */
#cierre {
  border-top: 0;
}
.modal-header {
  border-bottom: 0;
}

.modal-content{
  box-sizing: border-box;
}
/* Titulo */
h6 {
  color: green;
  font-size: 25px;
  text-align: center;
  font-family: lato;
  width: 100%;
  margin-left: 60px;
  margin-right: 60px;
}
/* Formulario */
.modal-body{
  margin-left: 60px;
  margin-right: 60px;
}
#password,#user {
 border-top:0;
 border-left: 0;
 border-right: 0;
 padding: 10px;
}
/* Boton regitracion final */
#botonR{
  border-radius: 50px;
  width: 40%;
}
/* Parrafo */
h3 {
  text-align: center;
  color: grey;
}
